//course style
#course {
  position: relative;
  .pipe {
    position: absolute;
    width: 98%;
    height: 224px;
    background: rgba(140, 124, 229, 0.08);
    top: 31px;
    left: 6px;
    border-radius: 0 250px 250px 0;
  }
  .row {
    .course {
      flex-direction: column;
      @include section-divider(flex, 30%, 30%);
      background-color: white;
      position: relative;
      border-bottom: 4px solid red;
      @include border-radius(0, 0, 5px, 5px);
      cursor: pointer;
      @include margin-padding(0, 16px, 0, 16px);
      .status {
        position: absolute;
        font-size: $defalut-font-size -4px;
        left: 10px;
        top: 10px;
        background: rgba(46, 125, 222, 0.5);
        color: white;
        @include margin-padding(2px, 6px, 2px, 6px, false);
        @include border-radius(2px, 2px, 2px, 2px);
        transition: box-shadow 0.5s ease;
      }
      &:hover {
        box-shadow: 0 0 13px 0px rgba(95, 95, 95, 0.5);
      }
      &:hover .teacher {
        top: -54px;
      }
      &:hover .teacher-name {
        width: 200px;
        right: 15px;
      }
      .teacher {
        position: absolute;
        top: -37px;
        right: 6px;
        width: 54px;
        z-index: -1;
        transition: top 1s ease;
      }
      .teacher-name {
        position: absolute;
        top: -29px;
        right: 9px;
        font-size: $defalut-font-size - 3px;
        z-index: -2;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: all 1s ease;
      }
      a {
        @include margin-padding(10px, 10px, 10px, 10px);
        font-size: $defalut-font-size + 2px;
        color: #313131;
      }
      .meta {
        display: flex;
        font-size: $defalut-font-size - 2px;
        @include margin-padding(0, 10px, 0, 10px);
        border-top: 1px solid #efefef;
        @include margin-padding(16px, 0px, 12px, 0px, false);
        span:nth-child(1) {
          margin-left: auto;
          @include margin-padding(0, auto, 0, 0);
          i {
            color: #45a1ff;
            @include margin-padding(0, 3px, 0, 0px);
          }
        }
        span:nth-child(2) {
          margin-left: auto;
          @include margin-padding(0, 8px, 0, 8px, false);
          color: #37b537;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
