@import "mixin";
//path style
.path {
  @include flex(flex, space-between, null);
  margin-bottom: 100px;
  .right-side {
    @include section-divider(flex, 50%, 50%);
  }
  .left-side {
    @include section-divider(flex, 45%, 45%);
    .path-title {
      @include flex(flex, center, center);
      flex-direction: column;
      h2 {
        font-size: $defalut-font-size + 10px;
        margin-bottom: 34px;
        color: #283557;
      }
      p {
        font-size: $defalut-font-size + 2px;
        line-height: 42px;
        color: #868383;
      }
    }
  }
}
