$background-color: rgb(223, 146, 146);
$font-20: 20px;
$defalut-font-size: 16px;
$bg-nav: #e0e0e0;
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(54, 114, 228);
$social-icons-color: #545858;
$social-icons-hover-color: #2b2bc0;
$txt-trans-cap: capitalize;
$bdr-5: 5px;
